body {
    margin: 0;
    font-family: "Fira Code", monospace;
}

/* Contenedor principal */
.main-container {
    width: 1280px;
    height: 1239px;
    position: relative;
    background: conic-gradient(from 180deg at 0% 126.92%, #D726D2 36deg, #5D4EFC 293deg);
}

/* Estilos de fondo y tarjetas */
.background-1 {
    width: 1272px;
    height: 1111px;
    position: absolute;
    left: 4px;
    top: 128px;
    background: black;
}

.contact-card-background,
.project-background,
.skill-card-1,
.skill-card-2,
.skill-card-3,
.skill-card-4,
.skill-card-5 {
    background: conic-gradient(from 180deg at 0% 100%, #D726D2 36deg, #5D4EFC 293deg);
    border-radius: 20px;
}

.contact-card {
    width: 337px;
    height: 250px;
    position: absolute;
    left: 922px;
    top: 145px;
    background: black;
    border-radius: 30px;
}

.project-box,
.skill-card-1-background,
.skill-card-2-background,
.skill-card-3-background,
.skill-card-4-background,
.skill-card-5-background {
    background: black;
    border-radius: 20px;
}

/* Texto */
.project-title,
.contact-title,
.main-title,
.skill-text-python,
.skill-text-java,
.skill-text-csharp,
.skill-text-php,
.skill-text-cobol {
    position: absolute;
    color: white;
    font-size: 20px;
}

.project-title {
    left: 78px;
    top: 510px;
    font-size: 30px;
}

.contact-title {
    left: 1019px;
    top: 156px;
    font-size: 30px;
}

.main-title {
    left: 497px;
    top: 40px;
    font-size: 50px;
    text-align: center;
    color: black;
    font-family: "Orbitron", sans-serif;
}

.skill-text-python { left: 1065px; top: 613px; }
.skill-text-java { left: 283px; top: 871px; }
.skill-text-csharp { left: 584px; top: 878px; }
.skill-text-php { left: 831px; top: 874px; }
.skill-text-cobol { left: 1072px; top: 878px; }

/* Sobre mí */
.about-title {
    width: 194px;
    height: 43px;
    left: 369px;
    top: 145px;
    position: absolute;
    color: #EAEAEA;
    font-size: 30px;
}

.about-text,
.nickname-text,
.contact-email,
.contact-phone,
.contact-username {
    color: white;
    font-weight: 400;
}

.contact-email { left: 981px; top: 325px; }
.contact-phone { left: 981px; top: 268px; }
.contact-username { left: 981px; top: 213px; }

/* Imagenes */
.profile-photo,
.project-image-1,
.project-image-2,
.project-image-python,
.project-image-java,
.project-image-csharp,
.project-image-php,
.project-image-cobol,
.social-icon-1,
.social-icon-2,
.social-icon-3 {
    position: absolute;
    border-radius: 15px;
}

.profile-photo-border {
    width: 265px;
    height: 290px;
    left: 65px;
    top: 142px;
    position: absolute;
    border-radius: 1000px;
    background: conic-gradient(from 180deg at 0% 100%, #D726D2 32deg, #3A86FF 290deg);
}
